body {
  margin: 0;
  font-family: "GothamProRegular", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f9f9ff;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
/* Intro*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("/img/intro.jpg") center, no-repeat;
  background-size: cover;
}

.intro_inner {
  width: 100%;
  max-width: 610px;
  position: relative;
}
.intro_title {
  color: black;
  font-size: 48px;
  font-family: "GothamProBold";
  text-align: left;
  line-height: 1;
}

.intro_suptitle {
  font-size: 22px;
  font-family: "GothamProLight";
  margin-bottom: 31px;
}

.intro_text {
  margin-top: 37px;
  font-size: 18px;
  font-family: "GothamProRegular";
  max-width: 351px;
}

.intro_img {
  position: absolute;
  right: 440px;
  top: 200px;
  z-index: 1;
}
/* Header */
.header {
  width: 100%;
  position: absolute;
  padding-top: 50px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header_logo {
  font-size: 20px;
  font-family: "GothamProBold", sans-serif;
  font-weight: 700;
  left: 0;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Nav*/

.nav {
  font-size: 16px;
  font-family: "GothamProRegular", sans-serif;
  margin-right: 20px;
}

.nav_link {
  display: inline-block;
  vertical-align: top;
  margin: 0 50px;
  color: #fff;
  text-decoration: none;
}

/* Input */
.input {
  width: 350px;
  text-decoration: none;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 10px;
  position: relative;
}
.input_a {
  padding: 13px 40px;
  font-family: "GorhemPro", sans-serif;
  border-radius: 50px;
  color: #dcd4f7;
  background: linear-gradient(to bottom, #4126d6, #6326d6);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  position: absolute;
}
.section_company {
  width: 100%;
  height: 100vh;
  background: url(/img/header.jpg) center no-repeat;
  background-size: cover;
}
hr {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #6c55b2;
}
.services {
  color: #fff;
  padding-left: 129px;
  padding-right: 131px;
}

.services_title {
  font-family: "GothamProLight";
  padding-top: 201px;
  text-transform: uppercase;
  font-size: 22px;
}

.services_text {
  font-family: "GothemProBold";
  max-width: 560px;
  padding-top: 37px;
  padding-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  position: relative;
}

.services_content {
  font-size: 22px;
  line-height: 1.3;
  font-family: "GothemProRegular";
  max-width: 300px;
  position: absolute;
  right: 0;
  margin-top: 20px;
  margin-right: 380px;
}
.stats {
  background-color: #95e1d3;
}

.stat {
  display: flex;
}

.stat_item {
  flex: 1 1 0;
  padding-top: 91px;
  text-align: center;
  color: #fff;
}

.stat_count {
  font-family: "GothamProBold";
  margin-bottom: 17px;
  font-size: 76px;
  font-weight: 700;
  line-height: 1;
}

.stat_text {
  font-family: "GothamProBold";
  text-transform: uppercase;
  font-size: 20px;
}

/* Works */
.section_work {
  width: 100%;
  height: 981px;
  background: url(/img/work.png) center no-repeat;
  background-size: cover;
}

.section_review {
  width: 100%;
  height: 100vh;
  background: url("/img/osebe.jpg");
  background-size: cover;
}

.review_items {
  text-align: right;
}

#user {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #585858;
  width: 700px;
  border-radius: 70px;
  padding: 20px 24px;
  margin-bottom: 24px;
}
.review_suptitle {
  font-family: "GothamProLight";
  font-size: 22px;
  text-transform: uppercase;
  margin-right: 250px;
}
.review_title {
  font-size: 48px;
  font-family: "GothamProBold";
  margin-right: 150px;
}

.review_title:after {
  content: "";
  display: block;
  width: 165px;
  height: 9px;
  margin-top: 10px;
  margin-left: 1082px;
  margin-bottom: 50px;

  background-color: #6c209c;
}
.review_inner {
  text-align: right;
  padding-top: 158px;
}

.btn_header {
  padding: 20px 75px;
  font-family: "GorhemProBold", sans-serif;
  border: 3px solid #fff;
  border-radius: 100px;
  color: #7070e8;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}
.button {
  width: 30px;
  height: 32px;
  border: none;
  outline: none;
  background-image: url(/img/1.png);
  margin-left: -55px;
  margin-top: 11px;
  position: absolute;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.button_1 {
  width: 30px;
  height: 32px;
  border: none;
  outline: none;
  background-image: url(/img/2.png);
  margin-left: -55px;
  margin-top: 13px;
  position: absolute;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.button_2 {
  width: 30px;
  height: 32px;
  border: none;
  outline: none;
  background-image: url(/img/3.png);
  margin-left: -55px;
  margin-top: 13px;
  position: absolute;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.section_map {
  width: 100%;
  height: 607px;
  background: url(/img/map.png) center no-repeat;
  background-size: 100%;
}

.footer {
  width: 100%;
  height: 205px;
  background: linear-gradient(to bottom, #63209c, #80209c);
}

/* Social */
.social {
  display: flex;
  justify-content: center;
}
.social__item {
  width: 55px;
  height: 55px;
  padding: 84px 168px;
  font-size: 30px;
  text-decoration: none;
  color: white;
  line-height: 1;
}
